body {
  background-color: rgba(226, 226, 11, 0.904);
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.object {
  background-color: #fff;
  border: 2px solid black;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 10px 15px rgb(58, 56, 56);
  width: 25rem;
  height: auto;
  padding: 30px;
  text-align: center;
}
